*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@import url(./components/header.css);
@import url(./components/navItem.css);
@import url(./components/navItemsDesktop.css);
@import url(./components/navSubItemsDesktop.css);
@import url(./components/main.css);
@import url(./components/mainContent.css);
@import url(./components/services.css);
@import url(./components/servicesCard.css);
@import url(./components/form.css);
@import url(./components/footer.css);
@import url(./components/loading.css);
@import url(./components/serviceLogo.css);
@import url(./components/privacyPolicies.css);
@import url(./components/articleInfo.css);
@import url(./components/developmentBenefis.css);
@import url(./components/servicesBenefis.css);
@import url(./components/whatsAppButton.css);